/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #505050;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.rtl {
  direction: rtl;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("/images/pattern.svg") no-repeat center/cover;
}

/* Header styles */
.header {
  /* Todo: add the background doodle */
  position: relative;
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 1.5rem;
  margin: 1rem auto;
  max-width: 1200px;
}

.header-content {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header-image {
  width: 100%;
  height: auto;
}

/* Channel cards styles */
.channel-cards {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .channel-cards {
    flex-wrap: nowrap;
  }
}

/* ------------------------ channel cards ------------------------ */
.channel-card {
  position: relative;
  width: 132px;
  height: 180px;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.3s ease;
  transform-origin: center bottom;
}

.channel-card-main-image {
  width: 70%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  filter: grayscale(100%);
}

.channel-card-overlay-image {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80%;
  max-width: 150px;
  filter: grayscale(25%);
}

.channel-card-main-image,
.channel-card-overlay-image {
  transition: filter 0.4s ease, box-shadow 0.4s ease;
}

.channel-card:hover {
  transform: scale(1.1) translateY(-10px) translateX(10px);
}

.channel-card:hover .channel-card-main-image {
  filter: grayscale(0%);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.channel-card:hover .channel-card-overlay-image {
  filter: grayscale(0%);
}

.ch-back {
  background: linear-gradient(to top, #f2f1f1 0%, #f2f1f1 40%, transparent 40%);
}

/* ------------------------ end channel cards ------------------------ */

/* Divider */
.divider {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, #920302, #d20e0d);
  margin-bottom: 5px;
}

/* Satellite section */
.satellite-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 66%;
  border-bottom: 2px solid #d20e0d;
}

.satellite-info-dish {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .satellite-section {
    flex-direction: column;
    width: 100%;
  }

  .satellite-info-dish {
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .satellite-section {
    width: 90%;
  }
}

.channel-logos {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .channel-logos {
    margin-bottom: 1.5rem;
  }
}

.channel-logo {
  height: 4rem;
  width: 6rem;
}

.documentary-logo {
  margin-top: 1rem;
}

.satellite-dish {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .satellite-dish {
    margin-bottom: 0;
  }
}

.dish-image {
  height: 250px;
  width: auto;
}

.satellite-info {
  text-align: right;
  /* transform: scaleX(1.2); */
  display: inline-block; /* Important to let transform work nicely */
}

.info-title {
  color: #d20e0d;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-weight: 700;
  font-size: medium;
}

/* Prayer section */
.prayer-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin-top: 10px;
}

.prayer-section {
  display: flex;
  flex-direction: column-reverse; /* Reverse to put date section on top */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.prayer-times {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.prayer-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.25rem;
}

.prayer-icon {
  background-color: #2563eb;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.prayer-name {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}

.prayer-time-value {
  color: #dc2626;
  font-weight: bold;
  font-size: 0.875rem;
  margin-top: 0;
}

.date-section {
  text-align: center; /* Center align for mobile */
  width: 100%;
  max-width: 300px;
  margin-bottom: 1.5rem;
}

.date-title {
  color: #dc2626;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0;
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  text-align: center;
}

.cities-select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f2f1f1;
  border-radius: 30px;
  width: 150px;
  transition: background-color 0.3s ease;
  border: none;
  background-image: url("/icons/down-chevron.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 16px;
  padding-left: 40px; /* Make space for custom arrow */
}

.cities-select:hover {
  background-color: #dedede;
}

.cities-select:focus {
  border: none;
}

.city-option {
  background-color: #f2f1f1;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
}

.down-arrow {
  color: red;
  margin-bottom: 3px;
  margin-right: 5px;
}

.current-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center for mobile */
}

.day-name {
  color: #dc2626;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 5px;
}

.date-details {
  color: #333333;
  display: flex;
  flex-direction: column;
  margin-right: 0.75rem;
}

.date1 {
  font-size: 1.125rem;
  font-weight: 600;
}

.date2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: -0.25rem;
}

/* Responsive styles */
@media (min-width: 640px) {
  .prayer-times {
    gap: 0.75rem;
  }

  .prayer-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .prayer-name {
    font-size: 0.8125rem;
  }

  .location {
    justify-content: center;
  }
}

/* Tablet and mobile specific styles */
@media (max-width: 767px) {
  .date-title {
    text-align: center;
  }

  .location {
    text-align: center;
    justify-content: center;
  }
}

/* Desktop layout - revert to original side-by-side layout */
@media (min-width: 900px) {
  .prayer-section {
    flex-direction: row; /* Side by side for desktop */
    justify-content: center;
    background: url("/images/doodle.svg") no-repeat center / contain;
  }

  .date-section {
    text-align: right; /* Right align for desktop */
    margin-bottom: 0;
  }

  .current-date {
    justify-content: flex-end; /* Right align for desktop */
  }

  .date-title {
    text-align: right;
  }

  .location {
    text-align: right;
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .prayer-time {
    margin-top: 10px;
  }

  .prayer-icon {
    width: 5rem;
    height: 5rem;
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }

  .day-name {
    font-size: 1.875rem;
  }

  /* .date1,
  .date2 {
    font-size: 1.4rem;
  } */
}

/* Footer */
.footer-doodle {
  width: 100%;
}
.footer {
  margin-top: auto;
  color: white;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to right, #920302, #d20e0d);
  align-items: center;
  padding: 0 1rem;
  max-width: 2200px;
  margin: 0 auto;
  position: relative;
}

.qr-code {
  position: absolute;
  top: -30px;
  left: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d20e0d;
  padding: 5px;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }

  .qr-code {
    top: -70px;
    left: 10px;
  }
}

.qr-image {
  height: 5rem;
  width: auto;
}

/* ------------------------------------------KTV------------------------------------------ */
/* TopBar */
.topbar {
  background: linear-gradient(to right, #920302, #d20e0d);
  width: 100%;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 0 10px;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.topbar-divider {
  height: 20px; /* Adjust height of divider based on your text size */
  width: 1px; /* Vertical line width */
  background-color: white; /* Divider color */
  margin: 0 5px; /* Space between text and the divider */
}

/* {TopBar Search and Sites} */

.search-sites {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topbar-search-open {
  display: flex;
}

.topbar-cancel-search {
  background-color: white;
  color: #505050;
  border-radius: 30px;
  padding: 0 5px;
  font-size: small;
}

/* {InputWithIcons} */
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 180px;
}

.topbar-search-input {
  width: 100%;
  padding: 2px 25px; /* Adds space for both prefix and suffix */
  font-size: 16px;
  border-radius: 30px;
}

.prefix-icon,
.suffix-icon {
  position: absolute;
  margin-top: 3px;
}

.prefix-icon {
  left: 8px; /* Adjust as needed */
}

.suffix-icon {
  right: 8px; /* Adjust as needed */
}

.topbar-search-input::placeholder {
  color: #aaa;
}
/* end {InputWithIcons} */

/* {TopBar Sites} */
.topbar-sites-select {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.topbar-sites-select:focus {
  outline: none;
}

.topbar-sites-item {
  background-color: #f2f1f1;
  text-align: center;
  color: #505050;
}

/* Navigation Bar*/
.top-navbar {
  position: relative;
  display: flex;
  justify-content: center; /* Center the main nav links */
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f7f7f7;
}

/* Centered Nav */
.nav-center {
  display: flex;
  gap: 2rem;
}

.nav-center a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
}

/* Right side */
.nav-right {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.live-button {
  padding: 0.4rem 1rem;
  border: 2px solid #d20e0d;
  color: #d20e0d;
  background: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #666;
}

.logo img {
  height: 30px;
}

/* -----------------------------------------Homepage----------------------------------------- */
